<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
성 공 !
<ul>
    <li *ngFor="let carPart of carParts">
        <h2>{{carPart.name | uppercase}}</h2>
        <p>{{carPart.description}}</p>
        <p>{{carPart.price | currency : 'KRW' :true :'4.2-2'}}</p>
        <p *ngIf="carPart.inStock > 0"> {{carPart.inStock}} in Stock</p>
        <p *ngIf="carPart.inStock ==0"> out of Stock</p>
    </li>
</ul>
<span>합계 = {{totalCarParts()}}</span>
</body>
</html>